### Задание 1
##### Импортируйте библиотеки pandas и numpy.
##### Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
##### Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
##### Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
##### Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
##### Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [10]:
boston = load_boston()
x = pd.DataFrame(boston['data'], columns=boston['feature_names'])
y = pd.DataFrame(boston['target'], columns=['price'])
print(x, y, sep='\n\n\n\n')

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]



     price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

d:\миша программирование\python\venv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
print(x_train, x_test, y_train, y_test, sep='\n\n\n\n')

         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS   RAD    TAX  \
5     0.02985   0.0   2.18   0.0  0.458  6.430  58.7  6.0622   3.0  222.0
116   0.13158   0.0  10.01   0.0  0.547  6.176  72.5  2.7301   6.0  432.0
45    0.17142   0.0   6.91   0.0  0.448  5.682  33.8  5.1004   3.0  233.0
16    1.05393   0.0   8.14   0.0  0.538  5.935  29.3  4.4986   4.0  307.0
468  15.57570   0.0  18.10   0.0  0.580  5.926  71.0  2.9084  24.0  666.0
..        ...   ...    ...   ...    ...    ...   ...     ...   ...    ...
106   0.17120   0.0   8.56   0.0  0.520  5.836  91.9  2.2110   5.0  384.0
270   0.29916  20.0   6.96   0.0  0.464  5.856  42.1  4.4290   3.0  223.0
348   0.01501  80.0   2.01   0.0  0.435  6.635  29.7  8.3440   4.0  280.0
435  11.16040   0.0  18.10   0.0  0.740  6.629  94.6  2.1247  24.0  666.0
102   0.22876   0.0   8.56   0.0  0.520  6.405  85.4  2.7147   5.0  384.0

     PTRATIO       B  LSTAT
5       18.7  394.12   5.21
116     17.8  393.30  12.04
45      17.9  396.90  10.21
16      21.0  386.85   6.58
468     20.2  368.74  18.13
..       ...     ...    ...
106     20.9  395.67  18.66
270     18.6  388.65  13.00
348     17.0  390.94   5.99
435     20.2  109.85  23.27
102     20.9   70.80  10.63

[354 rows x 13 columns]



        CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
173  0.09178   0.0   4.05   0.0  0.510  6.416   84.1  2.6463   5.0  296.0
274  0.05644  40.0   6.41   1.0  0.447  6.758   32.9  4.0776   4.0  254.0
491  0.10574   0.0  27.74   0.0  0.609  5.983   98.8  1.8681   4.0  711.0
72   0.09164   0.0  10.81   0.0  0.413  6.065    7.8  5.2873   4.0  305.0
452  5.09017   0.0  18.10   0.0  0.713  6.297   91.8  2.3682  24.0  666.0
..       ...   ...    ...   ...    ...    ...    ...     ...   ...    ...
441  9.72418   0.0  18.10   0.0  0.740  6.406   97.2  2.0651  24.0  666.0
23   0.98843   0.0   8.14   0.0  0.538  5.813  100.0  4.0952   4.0  307.0
225  0.52693   0.0   6.20   0.0  0.504  8.725   83.0  2.8944   8.0  307.0
433  5.58107   0.0  18.10   0.0  0.713  6.436   87.9  2.3158  24.0  666.0
447  9.92485   0.0  18.10   0.0  0.740  6.251   96.6  2.1980  24.0  666.0

     PTRATIO       B  LSTAT
173     16.6  395.50   9.04
274     17.6  396.90   3.53
491     20.1  390.11  18.07
72      19.2  390.91   5.52
452     20.2  385.09  17.27
..       ...     ...    ...
441     20.2  385.96  19.52
23      21.0  394.54  19.88
225     17.4  382.00   4.63
433     20.2  100.19  16.22
447     20.2  388.52  16.44

[152 rows x 13 columns]



     price
5     28.7
116   21.2
45    19.3
16    23.1
468   19.1
..     ...
106   19.5
270   21.1
348   24.5
435   13.4
102   18.6

[354 rows x 1 columns]



     price
173   23.6
274   32.4
491   13.6
72    22.8
452   16.1
..     ...
441   17.1
23    14.5
225   50.0
433   14.3
447   12.6

[152 rows x 1 columns]

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [15]:
y_pred = lr.predict(x_test)
check_test = pd.DataFrame({
    'y_test': y_test['price'], 
    'y_pred': y_pred.flatten()
})
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [19]:
from sklearn.metrics import mean_squared_error

In [18]:
mse = mean_squared_error(check_test['y_test'], check_test['y_pred'])
mse

21.51744423117739

### Задание 2
##### Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
##### Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42.
##### Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], чтобы получить из датафрейма одномерный массив Numpy, так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
##### Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
##### Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [503]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [504]:
model.fit(x_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [557]:
y_pred2 = model.predict(x_test)
check_test = pd.DataFrame({
    'y_test': y_test['price'], 
    'y_pred': y_pred2.flatten()
})
check_test.head(10)

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
76     20.0  21.832284
316    17.8  19.895747
140    14.0  14.754118
471    19.6  21.240835
500    16.8  20.898658

In [558]:
mse2 = mean_squared_error(check_test['y_test'], check_test['y_pred'])
mse2

9.334548946165196

Вторая модель в этом случае работает лучше (средняя квадратичная ошибка в 2-3 раза меньше)

### *Задание 3
##### Вызовите документацию для класса RandomForestRegressor.
##### Найдите информацию об атрибуте feature_importances_.
##### С помощью этого атрибута найдите сумму всех показателей важности, установите, какие два признака показывают наибольшую важность

In [567]:
feature_importances = pd.DataFrame(
    {
        'feature_name': x.columns, 
        'feature_importance': model.feature_importances_
    }, 
    columns=['feature_name', 'feature_importance']
)
feature_importances

   feature_name  feature_importance
0          CRIM            0.031676
1            ZN            0.001543
2         INDUS            0.007138
3          CHAS            0.001236
4           NOX            0.014269
5            RM            0.402682
6           AGE            0.014299
7           DIS            0.063973
8           RAD            0.005281
9           TAX            0.011525
10      PTRATIO            0.018081
11            B            0.012451
12        LSTAT            0.415847

In [575]:
most_important = feature_importances.nlargest(2, "feature_importance")
print(f'Сумма:{sum(feature_importances["feature_importance"])}\n\n{most_important}')

Сумма:1.0

   feature_name  feature_importance
12        LSTAT            0.415847
5            RM            0.402682